#root {
  /*max-width: 1280px;*/
  margin: 0;
  padding: 0;
}

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

a {
  display: inline;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

li {
  display: inline;
}

/* AppFolder.jsx Component Styles */
.app-folder {
  text-align: center;
  max-width: 8%;
  margin-bottom: 2%;
}

.app-folder-text {
  color: #FFFFFF;
  filter: drop-shadow(0 0 4px #777777);
  margin-top: 0;
}

/* Window.jsx Component Styles */
.window {
  width: 65%;
  margin: 3.5% auto auto;
  display: flex;
  flex-direction: column;
  /* filter: drop-shadow(0px 0px 0.1mm #6D6D6D); */
}

.window-heading {
  background-color: rgba(256, 256, 256, 0.70);
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.window-heading-text {
  color: #000000;
  display: contents;
  justify-self: center;
}

.main-content {
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  height: 50%;
}

.icon-button {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

/* NavBar.jsx Component Styles */
.nav-bar {
  border-radius: 0 0 10px 10px;
  overflow: auto;
  display: inline-block;
  width: 100%;
  box-sizing: inherit;
}

/* Footer.jsx Component Styles */
.footer {
  background-color: rgba(256, 256, 256, 0.80);
  border-radius: 10px 10px 0 0;
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.extra-padding {
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  padding-left: 1.5vw;
}

.nav-image {
  vertical-align: middle;
}

/*.nav-image-colored {*/
/*  vertical-align: middle;*/
/*  background-image: url("assets/cu.png");*/
/*  background-size: cover;*/
/*  width: 100px;*/
/*  height: 100px;*/
/*  float: left;*/
/*}*/

/*.nav-image-grayscale {*/
/*  vertical-align: middle;*/
/*}*/

/*.nav-image-colored:hover {*/
/*  vertical-align: middle;*/
/*  background-image: url("assets/cf.png");*/
/*  background-size: cover;*/
/*  width: 100px;*/
/*  height: 100px;*/
/*}*/

/*.nav-image-grayscale:hover {*/
/*  background-image: url("assets/gf.png");*/
/*}*/

.right-align {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.center {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

li {
  float: left;
}

/*
 * NOTE: This is just for initial creation of the colored variation of this website
*/
.title-colors {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 500px) {
  .nav-bar a {
    float: none;
    display: block;
  }
}