#root {
  margin: 0;
  padding: 0;
}

html, body { height: 100vh;   width: 100vw; margin: 0; padding: 0; }

img {
  background-repeat: no-repeat;
}
.tool-icon {
  max-width: 12px;
}

.no-overscroll {
  overscroll-behavior: none;
}

/* Logo Styles */
.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* HTML Styling Overrides */
body {
  margin: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1.h1-home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  animation: fadeIn 3s forwards, fadeOut 1.5s 4s forwards;
}
h1.h1-home-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  animation: fadeIn 3s 5s both, fadeOut 1.5s 9s forwards;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
h3.h3-projects {
  font-size: 30px;
}
h3.h3-home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  animation: fadeIn 3s 10s both;
}
h4 {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
h4:hover {
  color: #F2873B!important;
}
h4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  background-color: #7DD6D1;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
h4:hover::before {
  transform: scaleX(1);
}
a {
  display: inline;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  color: rgba(0, 0, 0, 0.60);
}
li {
  position: relative;
  display: inline;
  float: left;
}
ul {
  margin: 0;
  overflow: hidden;
  list-style-type: none;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* AppFolder.jsx Component Styles */
.app-folder {
  min-width: 80px;
  max-width: 8%;
  margin-bottom: 2%;
  text-align: center;
}
.app-folder-text {
  margin-top: 0;
  color: #FFFFFF;
  filter: drop-shadow(0 0 4px #777777);
}
.app-folder-icon {
  transition-duration: 0.3s;
}
.app-folder-icon:hover {
  transform: scale(115%);
}

/* Window.jsx Component Styles */
.window {
  display: flex;
  flex-direction: column;
  width: 65vw;
  position: relative;
  z-index: 999;
}
.window-heading {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(256, 256, 256, 0.50);
  border-radius: 10px 10px 0 0;
}
.window-heading-text {
  display: flex;
  margin: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.70);
}
.window-heading-icons {
  float: right;
  margin-right: 1rem;
}

.main-content {
  height: 50%;
  background-color: rgba(256, 256, 256, 0.90);
  border-radius: 0 0 10px 10px;
  overflow: scroll;
}

.window-img {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: block;
  border-radius: 10px
}

.icon-button {
  display: inline-flex;
  margin: 0.7rem 0 0.7rem 0;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

/* TODO: Fix a {} padding to not apply to every link */
.window-link {
  margin: 0.7rem 0;
}

.icon-image {
  max-width: 1.2rem;
}

.icon-image-minimize {
  max-width: 1.2rem;
  margin-bottom: 0;
}

.window-main-text {
  text-align: left;
  line-height: 24px;
  padding: 0 1rem;
  color: #000000;
  white-space: pre-line;
  font-weight: normal;
}

.small-z-index {
  z-index: 0;
}

.large-z-index {
  z-index: 999;
}

.absolute {
  position: absolute;
}

/* Classic Window */
.window-classic {
  display: flex;
  flex-direction: column;
  width: 65vw;
  position: relative;
  z-index: 999;
}
.window-heading-classic {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  background-color: white;
  border: 3px solid black;
  border-bottom: 0;
  filter: drop-shadow(6px 6px 0px #000000);
}
.window-heading-text-classic {
  display: flex;
  margin: 0.5rem 1rem;
  color: black;
}
.main-content-classic {
  height: 50%;
  background-color: white;
  border: 3px solid black;
  filter: drop-shadow(6px 6px 0px #000000);
  overflow: scroll;
}
.menu-lines {
  flex-grow: 3;
}
hr {
  height: 3px;
  background-color: black;
  border-color: rgba(0, 0, 0, 0);
  margin: 5px 0;
}

/* NavBar.jsx Component Styles */
.nav-bar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: relative;
  z-index: 999;
}
.nav-image-hover {
  position: absolute;
  object-fit: contain;
  width: 70px;
  height: 70px;
  right: 0;
  left: 1.5vw;
  opacity: 0;
  transition: opacity .2s;
}
.nav-image-hover:hover {
  opacity: 1;
}
.nav-image {
  vertical-align: middle;
}
.nav-right {
  float: right;
  vertical-align: middle;
  align-content: center;
}
.nav-darktoggle {
  cursor: pointer;
  vertical-align: middle;
  max-height: 30px;
  padding: 0.6em;
  transition-duration: 0.3s;
}
.nav-darktoggle:hover {
  transform: scale(115%);
}
.rect {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 325px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 50vw;
    transform: translate(-50%, 20%);
    z-index: 999;
    filter: drop-shadow(0 4px 10px var(--light-gray));
  }
  .nav-left {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 225px;
    padding: 0 2%;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 60px;
  }
  .dropdown-menu-container {
    position: absolute;
    width: 325px;
    min-height: 200%;
    border-radius: 10px;
    background-color: rgba(256, 256, 256, 0.80);
    transform: translate(0, 25%);
    align-content: end;
    justify-content: center;
    z-index: -1;
    filter: drop-shadow(0 4px 10px var(--light-gray));
  }
  .dropdown-menu {
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: -1;
    transition-duration: 0.5s;
  }
  .nav-image-hover {
    padding: 0 2%;
  }
  .nav-right {
    float: right;
    vertical-align: middle;
    align-content: center;
    border-radius: 10px;
    height: 60px;
    background-color: #FFFFFF;

  }
  .rect {
    display: block;
    visibility: visible;
  }
  .home-window {
    margin: 7.5% auto auto;
  }
  h3.h3-home {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    animation: fadeIn 3s 10s both;
  }
  .website-background {
    height: 100vh;
    background-image: url("assets/website_background_v2.png");
    background-size: 100vw auto;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}

/* Footer.jsx Component Styles */
.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(256, 256, 256, 0.80);
  border-radius: 10px 10px 0 0;
  line-height: 2rem;
}
.row {
  width: 100%;
  margin: 0 auto;
  padding-left: 12px;
}
.website-background {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/website_background_v2.png");
  background-size: 100vw auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.website-background-fill {
  background-image: url("assets/website_background_v2.png");
  background-position: center bottom;
  background-size: contain;
}
.extra-padding {
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  padding-left: 1.5vw;
}
.right-align {
  float: right;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.background-container {
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
}

/* Animations */
@keyframes background-bytes{
  from {
    top: -50px;
  }
  to {
    top: 1000px;
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
